# JetBrains user-specific stuff
JetBrains/*
!JetBrains/**/options
!JetBrains/**/codestyles

# Vim plugins folder
nvim/**/autoload

# ZWC files
zsh/**/*.zwc

# VSCodium user-specific stuff
VSCodium/.config/VSCodium/*
!VSCodium/**/product.json
!VSCodium/**/nvim
!VSCodium/**/User/keybindings.json
!VSCodium/**/User/settings.json
