set scrolloff=8                         " Show a few lines of context around the cursor. Note that this makes the text scroll if you mouse-click near the start or end of the window.
set ruler                  			        " Show the cursor position all the time
set cursorline                          " Enable highlighting of the current line
set nowrap                              " Display long lines as just one line
set incsearch                           " Do incremental searching.
set iskeyword+=-                      	" treat dash separated words as a word text object
set mouse=a                             " Enable your mouse
set splitbelow                          " Horizontal splits will automatically be below
set splitright                          " Vertical splits will automatically be to the right
set conceallevel=0                      " So that I can see `` in markdown files
set tabstop=8                           " Insert 2 spaces for a tab
set shiftwidth=8                        " Change the number of space characters inserted for indentation
set smarttab                            " Makes tabbing smarter will realize you have 2 vs 4 vs 8
set expandtab                           " Converts tabs to spaces
set smartindent                         " Makes indenting smart
set number                              " Line numbers
set relativenumber                      " Relative line numbers
set showtabline=2                       " Always show tabs
set updatetime=50                       " Faster completion
set timeoutlen=500                      " By default timeoutlen is 1000 ms
set formatoptions-=cro                  " Stop newline continuation of comments
set clipboard=unnamedplus               " Copy paste between vim and everything else
set ideaput
set nobackup
set nowritebackup
set noerrorbells
set visualbell
set NERDTree

" set leader key
let g:mapleader = "\<Space>"

" Use alt + hjkl to resize windows
nnoremap <M-j>    :resize -2<CR>
nnoremap <M-k>    :resize +2<CR>
nnoremap <M-h>    :vertical resize -2<CR>
nnoremap <M-l>    :vertical resize +2<CR>

" I hate escape more than anything else
inoremap jk <Esc>

" Easy CAPS
inoremap <C-u> <ESC>viwUi

" TAB in general mode will move to text buffer
nnoremap <TAB> :bnext<CR>
" SHIFT-TAB will go back
nnoremap <S-TAB> :bprevious<CR>

" <TAB>: completion.
inoremap <expr><TAB> pumvisible() ? "\<C-n>" : "\<TAB>"

" Better tabbing
vnoremap < <gv
vnoremap > >gv

" Better window navigation
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Greatest remap ever
xnoremap <leader>p "_dP

"" IDE actions

"" Debug
map [d <Action>(GotoNextError)
map ]d <Action>(GotoPreviousError)
map <leader>lf <Action>(ReformatCode)
map <leader>dd <Action>(Debug)
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dc <Action>(RunToCursor)

"" LSP
map gD <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map gt <Action>(GotoTypeDeclaration)
map gr <Action>(ShowUsages)
"map gd <Action>(QuickTypeDefinition)

"" Editor
map <leader>ot <Action>(ActivateTerminalToolWindow)
map <leader>e <Action>(ActivateProblemsViewToolWindow)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>/ <Action>(CommentByLineComment)
map <leader>, <Action>(RecentFiles)
map <leader>. <Action>(GotoFile)
"map <leader>q <Action>(HideActiveWindow)